<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

 <suite name="Plumlytics Automation">

  <test name="Search test">

    <classes>

      <class name="com.functional.suite.LogInTest" />
       <class name="com.functional.suite.SignUpTest" />

    </classes>

  </test>

 </suite>